# Scratch
tmp_work
data_space_usage
TODOs.md
cur_commit.md
container/mini_def.def

# running
venv
.snakemake
container/built
container/legacy_built
analysis/outputs
analysis/logs
analysis/input_data/barry_lab/paolo_pvgv*
analysis/input_data/pf7/*.vcf.gz*

# python
__pycache__
*.egg-info

# vim
*~
*.swp
